@import url("https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
@import "tailwindcss";

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: var(--background);
  color: black;
}

:root {
  --background: rgba(251, 249, 244, 1);
  --side-background: rgba(100, 75, 65, 1);
  --button: rgba(93, 64, 55, 1);
  --hover-button: rgba(73, 50, 43, 1);
  --input: rgba(0, 0, 0, 0.3);
  --focus-input: rgba(0, 0, 0, 1);
  --text: rgba(0, 0, 0, 1);
  --gray-1: rgba(170, 170, 170, 0.9);
  --gray-2: rgba(60, 60, 60, 0.8);
  --text-link: rgba(204, 119, 34, 1);
  --check-box: rgba(175, 149, 92, 1);
  --clear: rgba(34, 139, 34, 1);
  --error: rgba(220, 20, 60, 1);
  --sunday: rgba(220, 20, 60, 1);
  --saturday: rgba(72, 112, 164, 1);
  --tool-bar-button: rgba(93, 64, 55, 1);
  --tool-bar-hover-button: rgba(73, 50, 43, 1);
  --calendar-event: rgba(175, 149, 92, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.title-font {
  font-family: 'nanummyeongjo', sans-serif;
}

.fc .fc-toolbar-title {
  font-family: 'nanummyeongjo', sans-serif;
}

.fc .fc-toolbar-title {
  @apply font-bold text-4xl;
}

.fc .fc-day-sun a {
  @apply text-[var(--sunday)];
}

.fc .fc-day-sat a {
  @apply text-[var(--saturday)];
}

.fc .fc-toolbar-chunk .fc-button {
  @apply bg-[var(--tool-bar-button)] border-[var(--tool-bar-button)];
}

.fc .fc-toolbar-chunk .fc-button:disabled {
  @apply bg-[var(--tool-bar-button)];
}

.fc .fc-toolbar-chunk .fc-button:disabled:hover {
  @apply bg-[var(--tool-bar-button)];
}


.fc .fc-toolbar-chunk .fc-button:hover {
  @apply bg-[var(--tool-bar-hover-button)]
}

.fc-event {
  @apply bg-[var(--calendar-event)] border-[var(--calendar-event)]; 
}
